<map name="clientsidemap">
   <area shape="rect" coords="30,295,230,315" href="mailto:info@primemortal.com">
</map>

<img border="0" width="400" height="400" src="blank.gif" ismap usemap="#clientsidemap">