<map name="clientsidemap">
   <area shape="rect" coords="30,310,240,325" href="http://klevstul.com/kSimpleWeb" target="_blank">
</map>

<img border="0" width="400" height="400" src="blank.gif" ismap usemap="#clientsidemap">